@import "../config-theme.scss";

.card-component {
  .first-color {
    color: $first-card-content-color;
  }

  .second-color {
    color: $second-card-content-color;
  }

  .third-color {
    color: $thid-card-content-color;
  }
  .fourth-color {
    color: $fourth-card-content-color;
  }
}
