/*
#colors
*/
/*
#Side Bar 
*/

$side-bar-bg-color: #293a57;
$side-bar-li-color: #6680aa;
$side-bar-li-hover-and-active-color: #5ddbcd;
$side-bar-logo-bg-color: #21314e;
/*
#Recent Activity
*/
$recent-activity-bg-color: #f4f8fe;
$recent-activity-header-color: #c5d1e6;
$recent-activity-username-color: #7a96c4;
$recent-activity-user-action-color: #bbcae7;
/*
Header
*/
$p-color: #a5b6d3;
$h1-color: #334361;

/*
#Buttons
*/
$header-button: #63cc38;
/*
Select
*/
$select-border-color: #829bc6;
/*
Card
*/
$first-card-content-color: #62dab7;
$second-card-content-color: #f07b9e;
$thid-card-content-color: #99adce;
$fourth-card-content-color: #77e1c8;
