/*
#colors
*/
/*
#Side Bar 
*/ 
$side-bar-bg-color: #293a57;
$side-bar-li-color: #6680aa;
$side-bar-li-hover-and-active-color:#5ddbcd;
$side-bar-logo-bg-color:#21314e;
/*
#Recent Activity
*/ 
$recent-activity-bg-color:#F4F8FE;
$recent-activity-header-color: #C5D1E6;
$recent-activity-username-color: #7A96C4;
$recent-activity-user-action-color: #BBCAE7;
/*
#Buttons
*/
$header-button: #63CC38;
