.dashboard-view {
  width: 100%;
  border: 0.5px solid #bdc4d1;
  height: calc(100vh - 70px);
  p {
    color: #a5b6d3 !important;
  }

  h1 {
    color: #334361 !important;
  }

  .row-modified {
    width: 100%;
    margin: 0;
  }
}
