@import "./config-theme.scss";

.sidebar-menu-component {
  background-color: $side-bar-bg-color;
  height: 100%;
  .sidebar-ul {
    padding-left: 30px;
    padding-top: 15px;
    li {
      color: $side-bar-li-color;
      &:active,
      &:hover {
        color: $side-bar-li-hover-and-active-color;
        cursor: pointer;
      }
    }
  }

  .logo-wrapper {
    min-height: 70px;
    background-color: $side-bar-logo-bg-color;
    .logo {
      padding-top: 20px;
      text-align: center;
      color: #fff;
    }
  }
}
